@import url("https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap");

//BRAND STYLES
$font-nav: "Liu Jian Mao Cao", sans-serif;
$font-context: "Julius Sans One", sans-serif;

$primary-color: black;

//DEVICES
$mobile: 360px;

html {
  font-size: 15px;
}

html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  font: 100% $font-context;
  background-color: $primary-color;
  color: white;
  height: 100vh;
  width: 100vw;

  .App {
    height: 100vh;
    width: 100vw;
  }
}

//NAV
nav {
  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    width: 100vw;
    position: fixed;
    font-family: $font-nav;

    li {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    li:first-of-type {
      justify-content: left;
    }

    li:last-of-type {
      cursor: pointer;
    }

    a,
    li:last-of-type {
      text-decoration: none;
      font-size: 2rem;
      color: white;

      &:hover {
        font-weight: bolder;
      }

      &.active {
        // font-weight: 900;
        color: #ffcccc;
      }
    }

    #home-link {
      //color: white;
      text-align: left;
      font-size: 4rem;
    }
  }
}

//HOME SCREEN

#home-screen {
  height: 100vh;
  width: 100vw;
  background: url(/images/dani-stairs-landscape.jpg) no-repeat center center
    fixed;
  background-size: cover;

  .bio-front-page {
    position: relative;
    top: 45%;
    font-size: 1.5rem;
    float: right;
    width: 50%;
    font-weight: 900;
    text-shadow: black 2px 2px 2px;
  }

  .attribution {
    position: fixed;
    bottom: 5px;
  }

  @media (max-width: 1515px) {
    .bio-front-page {
      top: 30%;
      font-size: 1.6rem;
    }
  }

  @media (max-width: 720px) {
    .bio-front-page {
      width: 100%;
      top: 40%;
      text-align: center;
      font-size: 3rem;
    }
  }

  @media (max-width: 812px) and (max-height: 600px) {
    .bio-front-page {
      width: 100%;
      top: 40%;
      text-align: center;
      font-size: 1rem;
    }
  }
}

//MUSIC
#music {
  // border: 1px solid  yellow;
  position: relative;
  width: 95vw;
  height: 80vh;
  margin: 0 auto;
  top: 15vh;
  // border: 1px solid green;
  display: flex;
  // overflow: scroll;

  .player {
    height: 100%;
    width: 50%;
    // border: 1px solid red;
    position: relative;
    float: left;
    // top: 50%;
    // left: 50%;
    // transform: translateY(-50%);

    #play-pause-button {
      position: relative;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -40%);
    }
    .play-button {
      border: 0;
      background: black;
      // box-sizing: border-box;
      width: 0;
      height: 74px;

      border-color: transparent transparent transparent white;
      transition: 100ms all ease;
      cursor: pointer;

      // play state
      border-style: solid;
      border-width: 37px 0 37px 60px;

      &.paused {
        border-style: double;
        border-width: 0px 0 0px 60px;
      }

      &:hover {
        border-color: transparent transparent transparent #404040;
      }
    }

    p {
      text-align: center;
    }
  }

  .controls {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .track-list {
    align-self: center;
    position: relative;
    width: 49%;
    height: 50%;
    overflow: auto;
    float: right;
    background-color: #2e2b22;

    span {
      padding-bottom: 10px;
    }

    .length {
      font-size: 1.1rem;
      text-shadow: none;
      color: grey;
      float: right;
    }
  }

  ul {
    position: relative;
    list-style: none;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    padding: 5%;

    span {
      font-weight: 900;
      text-shadow: white 1px 1px;
      font-size: 2.5rem;
    }

    li {
      font-size: 1.2rem;
      text-transform: capitalize;

      &:hover {
        // text-shadow: white 1px 1px 2px;
        color: #ffcccc;
        cursor: pointer;
      }
    }

    .active {
      @extend :hover;
      font-weight: 900;
      // font-size: 2.5rem;
    }

    hr {
      border-color: #5e5858;
    }
  }

  .progress-bar {
    position: relative;
    height: 10px;
    width: 80%;
    border-radius: 50px;
    border: 2px solid white;
    margin: 5% auto;
  }

  .filler {
    background-color: white;
    height: 100%;
    border-radius: inherit;
    transition: width 0.2s ease-in;
  }
}

@media (max-width: 720px) {
  #music {
    flex-direction: column;
    align-items: center;
    font-size: 3rem;

    .player {
      width: 100%;
      order: 2;
    }

    .track-list {
      width: 100%;

      span {
        font-size: 3rem;
      }

      ul {
        display: flex;
        justify-items: center;
      }

      li {
        font-size: 2.7rem;
      }

      .length {
        font-size: 2rem;
      }
    }
  }
}

//VIDEOS
#videos {
  width: 80vw;
  height: 60vh;
  position: relative;
  top: 20vh;
  display: flex;
  align-content: center;
  margin: 0 auto;

  .react-player__preview {
    // background-color: grey;
    height: 100vh;
  }

  .playlist {
    height: 100%;
    width: 50%;
    text-align: center;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #2e2b22;

    ul {
      list-style: none;
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      // align-items: center;
      // justify-content: center;

      li {
        // line-height: 2;
        padding: 3%;
        margin-bottom: 2%;
        position: relative;
        // top: 30%;
        cursor: pointer;
      }

      .attribution {
        display: block;
        font-size: 0.9rem;
        color: grey;
      }

      li:hover {
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  #videos {
    flex-direction: column;

    .react-player {
      width: 90vw;
      padding-bottom: 2%;
    }

    .playlist {
      width: 100%;

      ul {
        font-size: 3.5rem;

        .attribution {
          font-size: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 812px) and (max-height: 600px) {
  #music {
    .track-list {
      // overflow: auto;

      ul {
        span {
          font-size: 1rem;
        }
        li {
          font-size: 0.8rem;
        }
      }
    }
  }

  #videos {
    background-color: black;
  }
}

@media only screen and (max-width: 420px) and (max-height: 600px) {
  #music {
    .player {
      height: 50%;
    }

    .track-list {
      // overflow: auto;

      ul {
        span {
          font-size: 2rem;
        }
        li {
          font-size: 1.8rem;
        }
      }
    }
  }
}
//IPHONE 5 LANDSCAPE
// @media only screen and (max-width: 600px) and (max-height:420px) {
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  #music {
    display: flex;
    flex-direction: row;

    .player {
      height: 50%;
      width: 50%;
    }

    .track-list {
      // overflow: auto;
      width: 50%;
      order: 2;

      ul {
        span {
          font-size: 2rem;
        }
        li {
          font-size: 1.8rem;
        }
      }
    }
  }
}

// 404

.page404 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  h1 {
    color: white;
  }
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 6px;
  }

  nav {
    ul {
      grid-template-columns: 3fr 1fr 1fr;

      #home-link {
        font-size: 5rem;
      }

      li {
        a {
          font-size: 3rem;
        }
      }
    }
  }

  #home-screen {
    height: 100vh;
    width: 100vw;
    background: url(/images/dani-stairs-portrait.jpg) no-repeat center center
      fixed;
    background-size: cover;
  }
}

#contact {
  width: 10%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: white;
    font-size: 1.5vw;
  }
}
@media (max-width: 1200px) {
  #contact {
    width: 30%;

    flex: space-between;
    a {
      font-size: 4vw;
    }
  }
}

//FOOTER

#footer {
  position: fixed;
  left: 0;
  bottom: 1px;
  width: 100%;
  // height: 5vh;
  color: white;
  text-align: center;
}
