@import url("https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap");

//BRAND STYLES
$font-stack: "Liu Jian Mao Cao", sans-serif;
$primary-color: black;

//DEVICES
$mobile: 360px;

html {
  font-size: 15px;
}

html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  font: 100% $font-stack;
  background-color: $primary-color;
  color: white;
  height: 100vh;
  width: 100vw;

  .App {
    height: 100vh;
    width: 100vw;
  }
}

//NAV
nav {
  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    width: 100vw;
    position: fixed;

    li {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    li:first-of-type {
      justify-content: left;
    }

    li:last-of-type {
      cursor: pointer;
    }

    a,
    li:last-of-type {
      text-decoration: none;
      font-size: 2rem;
      color: white;

      &:hover {
        font-weight: bolder;
      }

      &.active {
        // font-weight: 900;
        color: #ffcccc;
      }
    }

    #home-link {
      //color: white;
      text-align: left;
      font-size: 3rem;
    }
  }
}

.section {
  height: 100vh;
  width: 100vw;
  margin: 0 2% 0 2%;
  background-color: black;
}

//HOME SCREEN

#home-screen {
  height: 100vh;
  width: 100vw;
  background: url(/images/dani-stairs-landscape.jpg) no-repeat center center
    fixed;
  background-size: cover;
}

//MUSIC
#music {
  // border: 1px solid  yellow;
  position: relative;
  width: 95vw;
  height: 80vh;
  margin: 0 auto;
  top: 15vh;
  // border: 1px solid green;
  display: grid;
  // align-items: center;
  // justify-content: center;

  .player {
    height: 100%;
    width: 50%;
    // border: 1px solid red;
    position: relative;
    float: left;
    // top: 50%;
    // left: 50%;
    // transform: translateY(-50%);

    #play-pause-button {
      position: relative;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -40%);
    }
    .play-button {
      border: 0;
      background: black;
      // box-sizing: border-box;
      width: 0;
      height: 74px;

      border-color: transparent transparent transparent white;
      transition: 100ms all ease;
      cursor: pointer;

      // play state
      border-style: solid;
      border-width: 37px 0 37px 60px;

      &.paused {
        border-style: double;
        border-width: 0px 0 0px 60px;
      }

      &:hover {
        border-color: transparent transparent transparent #404040;
      }
    }

    p {
      text-align: center;
    }
  }

  .controls {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .track-list {
    height: 100%;
    position: relative;
    // border: 1px solid white;
    width: 49%;
    float: right;

    span {
      color: red;
      text-align: left;
    }
  }

  ul {
    // border: 2px solid white;
    position: relative;
    list-style: none;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    padding: 5%;
    // justify-content: center;
    // align-items: center;
    // top: 40%;
    // transform: translateY(-50%);

    hr {
      color: white;
    }

    li {
      //  position: relative;
      line-height: 2;
      text-align: center;

      &:hover {
        text-shadow: white 1px 1px 2px;
        color: #ffcccc;
        cursor: pointer;
      }
    }
    .active {
      @extend :hover;
      font-weight: 900;
      font-size: 4rem;
    }
  }

  .progress-bar {
    position: relative;
    height: 10px;
    width: 80%;
    border-radius: 50px;
    border: 2px solid white;
    margin: 5% auto;
  }

  .filler {
    background-color: white;
    height: 100%;
    border-radius: inherit;
    transition: width 0.2s ease-in;
  }
}

//VIDEOS
#videos {
  width: 100vw;
  height: 100vh;

  section {
    position: relative;
    top: 30vh;
    height: 50vh;
    display: flex;
  }

  // .react-player {
  //   // background-color: grey;
  // }

  .playlist {
    height: 100%;
    width: 50%;
    text-align: center;
    font-size: 2rem;

    ul {
      list-style: none;
      height: 100%;

      li {
        line-height: 2;
        position: relative;
        top: 30%;
        cursor: pointer;
      }

      li:hover {
        font-weight: bold;
      }
    }
  }
}

//ABOUT

#about {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: $font-stack;

  ul,
  li {
    margin: 0;
  }

  section {
    position: relative;
    top: 20vh;
    margin: 0 5px 0 5px 0;
    display: flex;
    align-items: center;
  }

  .bio-pic {
    width: 60%;
    float: left;
    text-align: center;

    img {
      max-height: 100%;
      max-width: 90%;
    }
  }

  .bio {
    width: 50%;
    font-size: 2rem;
    line-height: 1.5;
  }
}

@media (max-width: 1023px) {
  //one item on top of the other, text first

  #about {
    section {
      flex-direction: column;
      justify-content: center;
    }

    .bio-pic {
      order: 2;
      width: 60%;
      margin: 0 auto;
    }

    .bio {
      margin: 0 auto;
      width: 90%;
    }
  }
}

// 404

.page404 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  h1 {
    color: white;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 6px;
  }

  #home-screen {
    height: 100vh;
    width: 100vw;
    background: url(/images/dani-stairs-portrait.jpg) no-repeat center center
      fixed;
    background-size: cover;
  }
}

#contact {
  height: 50%;
  width: 80%;
  position: relative;
  top: 30%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: white;
    font-size: 15vw;
  }
}

@media (max-width: 660px){
  #contact {
    flex-direction: column;
    height: 60%;
    top: 20%;

    a {
      font-size: 25vw;
    }
  }
}

// @media (max-width: 768px) {
//   nav {
//     ul {
//       grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
//     }

//     ul #home-link {
//       font-size: 1.5rem;
//     }
//   }
//   nav ul a,
//   nav ul li:last-of-type {
//     font-size: 1rem;
//   }
//   h2,
//   li {
//     font-size: 1rem;
//   }
// }
