@import url("https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap");
html {
  font-size: 15px;
}

html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  font: 100% "Julius Sans One", sans-serif;
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
}
body .App {
  height: 100vh;
  width: 100vw;
}

nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  width: 100vw;
  position: fixed;
  font-family: "Liu Jian Mao Cao", sans-serif;
}
nav ul li {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li:first-of-type {
  justify-content: left;
}
nav ul li:last-of-type {
  cursor: pointer;
}
nav ul a,
nav ul li:last-of-type {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}
nav ul a:hover, nav #music ul a.active, #music nav ul a.active,
nav ul li:last-of-type:hover,
nav #music ul li.active:last-of-type,
#music nav ul li.active:last-of-type {
  font-weight: bolder;
}
nav ul a.active,
nav ul li:last-of-type.active {
  color: #ffcccc;
}
nav ul #home-link {
  text-align: left;
  font-size: 4rem;
}

#home-screen {
  height: 100vh;
  width: 100vw;
  background: url(/images/dani-stairs-landscape.jpg) no-repeat center center fixed;
  background-size: cover;
}
#home-screen .bio-front-page {
  position: relative;
  top: 45%;
  font-size: 1.5rem;
  float: right;
  width: 50%;
  font-weight: 900;
  text-shadow: black 1px 1px 1px;
}
#home-screen .attribution {
  position: fixed;
  bottom: 5px;
}
@media (max-width: 1515px) {
  #home-screen .bio-front-page {
    top: 30%;
    font-size: 1.6rem;
  }
}
@media (max-width: 720px) {
  #home-screen .bio-front-page {
    width: 100%;
    top: 40%;
    text-align: center;
    font-size: 3rem;
  }
}
@media (max-width: 812px) and (max-height: 600px) {
  #home-screen .bio-front-page {
    width: 100%;
    top: 40%;
    text-align: center;
    font-size: 1rem;
  }
}

#music {
  position: relative;
  width: 95vw;
  height: 80vh;
  margin: 0 auto;
  top: 15vh;
  display: flex;
}
#music .player {
  height: 100%;
  width: 50%;
  position: relative;
  float: left;
}
#music .player #play-pause-button {
  position: relative;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
}
#music .player .play-button {
  border: 0;
  background: black;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent white;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0 37px 60px;
}
#music .player .play-button.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}
#music .player .play-button:hover, #music .player ul .play-button.active, #music ul .player .play-button.active {
  border-color: transparent transparent transparent #404040;
}
#music .player p {
  text-align: center;
}
#music .controls {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#music .track-list {
  align-self: center;
  position: relative;
  width: 49%;
  height: 50%;
  overflow: auto;
  float: right;
  background-color: #2e2b22;
}
#music .track-list span {
  padding-bottom: 10px;
}
#music .track-list .length {
  font-size: 1.1rem;
  text-shadow: none;
  color: grey;
  float: right;
}
#music ul {
  position: relative;
  list-style: none;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  padding: 5%;
}
#music ul span {
  font-weight: 900;
  text-shadow: white 1px 1px;
  font-size: 2.5rem;
}
#music ul li {
  font-size: 1.2rem;
  text-transform: capitalize;
}
#music ul li:hover, #music ul li.active {
  color: #ffcccc;
  cursor: pointer;
}
#music ul .active {
  font-weight: 900;
}
#music ul hr {
  border-color: #5e5858;
}
#music .progress-bar {
  position: relative;
  height: 10px;
  width: 80%;
  border-radius: 50px;
  border: 2px solid white;
  margin: 5% auto;
}
#music .filler {
  background-color: white;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

@media (max-width: 720px) {
  #music {
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
  }
  #music .player {
    width: 100%;
    order: 2;
  }
  #music .track-list {
    width: 100%;
  }
  #music .track-list span {
    font-size: 3rem;
  }
  #music .track-list ul {
    display: flex;
    justify-items: center;
  }
  #music .track-list li {
    font-size: 2.7rem;
  }
  #music .track-list .length {
    font-size: 2rem;
  }
}
#videos {
  width: 80vw;
  height: 60vh;
  position: relative;
  top: 20vh;
  display: flex;
  align-content: center;
  margin: 0 auto;
}
#videos .react-player__preview {
  height: 100vh;
}
#videos .playlist {
  height: 100%;
  width: 50%;
  text-align: center;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #2e2b22;
}
#videos .playlist ul {
  list-style: none;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
#videos .playlist ul li {
  padding: 3%;
  margin-bottom: 2%;
  position: relative;
  cursor: pointer;
}
#videos .playlist ul .attribution {
  display: block;
  font-size: 0.9rem;
  color: grey;
}
#videos .playlist ul li:hover, #videos .playlist #music ul li.active, #music #videos .playlist ul li.active {
  font-weight: bold;
}

@media only screen and (max-width: 720px) {
  #videos {
    flex-direction: column;
  }
  #videos .react-player {
    width: 90vw;
    padding-bottom: 2%;
  }
  #videos .playlist {
    width: 100%;
  }
  #videos .playlist ul {
    font-size: 3.5rem;
  }
  #videos .playlist ul .attribution {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 812px) and (max-height: 600px) {
  #music .track-list ul span {
    font-size: 1rem;
  }
  #music .track-list ul li {
    font-size: 0.8rem;
  }

  #videos {
    background-color: black;
  }
}
@media only screen and (max-width: 420px) and (max-height: 600px) {
  #music .player {
    height: 50%;
  }
  #music .track-list ul span {
    font-size: 2rem;
  }
  #music .track-list ul li {
    font-size: 1.8rem;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  #home-screen {
    height: 100vh;
  }
  #home-screen .bio-front-page {
    font-size: 2rem;
    top: 50%;
  }
}
.page404 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.page404 h1 {
  color: white;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  #home-screen .bio-front-page {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 720px) {
  html {
    font-size: 6px;
  }

  nav ul {
    grid-template-columns: 3fr 1fr 1fr;
  }
  nav ul #home-link {
    font-size: 5rem;
  }
  nav ul li a {
    font-size: 3rem;
  }

  #home-screen {
    height: 100vh;
    width: 100vw;
    background: url(/images/dani-stairs-portrait.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
#contact {
  width: 10%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact a {
  color: white;
  font-size: 1.5vw;
}

@media (max-width: 1200px) {
  #contact {
    width: 30%;
    flex: space-between;
  }
  #contact a {
    font-size: 4vw;
  }
}
#footer {
  position: fixed;
  left: 0;
  bottom: 1px;
  width: 100%;
  color: white;
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  #music {
    display: flex;
    flex-direction: row;
  }
  #music .player {
    height: 50%;
    width: 50%;
  }
  #music .track-list {
    width: 50%;
    order: 2;
  }
  #music .track-list ul span {
    font-size: 2rem;
  }
  #music .track-list ul li {
    font-size: 1.8rem;
  }

  #home-screen .bio-front-page {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=App.css.map */
